 <div class="jumbotron">
        <h1>Join and follow actors and enterprenures </h1>
        <p class="lead">Its free and always will be sign up now and have a new social experience </p>
        <a class="btn btn-lg btn-primary" href="/login" role="button">Login &raquo;</a>
        <a class="btn btn-lg btn-primary" href="/register" role="button">Signup &raquo;</a> 
</div>